<%= form_tag('/products/add', method:'post') do %>
<%= text_field_tag (:product) %>
    <div><%= submit_tag('add to cart')%></div>
  <% end %>

  <% cart.each do |item| %>
    <%= item %>
    <% end %>
